USE [HARAS_3D87]
GO
/****** Object:  StoredProcedure [dbo].[STPInserirRaca]    Script Date: 10/1/2025 10:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bruno Souto
-- Create date: 22/09/2025
-- Description:	Configuração da função inserir dados de Raça
-- =============================================
ALTER PROCEDURE [dbo].[STPInserirRaca]
	
	(
		@REGISTRO int,
		@DESCRICAO nvarchar (30),
		@DATA date,
		@HORA nvarchar (5)
	)
	
AS
BEGIN
		-- Inclui um novo registro na tabela RACA
	INSERT INTO RACA (Registro, Descricao, Data, hora)
	VALUES (@REGISTRO, @DESCRICAO, @DATA, @HORA)
END