USE [HARAS_3D87]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Bruno Souto
-- Create date: 07/10/2025
-- Description:	Monta lista de Usuários
-- =============================================
CREATE PROCEDURE [dbo].[STPMontarListaUsuarios]
	@NOME varchar(50)
AS
BEGIN
    SELECT * FROM dbo.Usuarios
    WHERE NOME LIKE '%' + @NOME + '%'
    ORDER BY NOME
END

