USE [HARAS_3D87]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bruno Souto
-- Create date: 20/10/2025
-- Description:	Configuração da função editar dados de Animais
-- =============================================
CREATE PROCEDURE [dbo].[STPAlterarAnimais]
	(
		@ANIMAISID int,
		@CHIP int,
		@NOME varchar(40),
		@DTNASCIMENTO datetime,
		@VALOR decimal(10,2),
		@VENDIDO bit,
		@RACAID int
	)
AS
BEGIN
    -- Localiza e edita os registros de Animais
	UPDATE Animais
	
	SET 
	nrchip = @CHIP,
	nome = @NOME,
	dtNascimento = @DTNASCIMENTO,
	valor = @VALOR,
	vendido = @VENDIDO,
	Raca_Id = @RACAID

	WHERE
	Animais_Id = @ANIMAISID
END
