USE [HARAS_3D87]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bruno Souto
-- Create date: 14/10/2025	
-- Description:	Localiza Animais pela chave ID
-- =============================================
CREATE PROCEDURE [dbo].[STPLocalizarAnimaisChaveID]
		@ANIMAIS_ID int
AS
BEGIN

	SELECT * FROM [dbo].[Animais]
	WHERE
	ANIMAIS_ID = @ANIMAIS_ID
	RETURN

END